@model Mecom.Models.Customer
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<h3 style="text-align:center">Müşteriler</h3>

<div ng-app="SearchApp" ng-controller="customerSearchController">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-primary" data-toggle="modal" data-target=".addCustomer" type="button">Müşteri Ekle</button>
        </span>
        <input type="text" class="form-control" ng-model="searchText" placeholder="Ara..." />
    </div>

    <br />

    <div class="modal fade addCustomer" tabindex="-1" role="dialog" aria-labelledby="AddCustomer">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                @using (Html.BeginForm("MusteriEkle", "Musteriler"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Müşteri Ekle</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", maxLength = "50", required = "required" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", maxLength = "50", required = "required" } })
                                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", maxLength = "10", required = "required" } })
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", maxLength = "80", type = "email", required = "required" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.companyName, htmlAttributes: new { @class = "control-label col-md-4", maxLength = "80" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.companyName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.companyName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.userId, new { htmlAttributes = new { @class = "form-control", @Value = User.Identity.GetUserId() } })

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-7">
                                <input type="submit" value="Kaydet" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @Html.Action("GetAllCustomer")
</div>