@model Mecom.Models.BillOfSale
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Satış Faturası";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<button class="btn btn-primary" data-toggle="modal" data-target=".addStaff" type="button" style="width:100%">Fatura Ekle</button>


<div class="modal fade addStaff" tabindex="-1" role="dialog" aria-labelledby="AddStaff">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("SatisFaturasiEkle", "Faturalar"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Satış Faturası</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.explanation, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.explanation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.explanation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.isPaid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.isPaid)
                                @Html.ValidationMessageFor(model => model.isPaid, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Kaydet" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.Action("GetAllBillOfSale")